h1 {
  text-align: center;
}

body {
  color: red;
}

.cascadePractice {
  color: blue;
}

.dog1 {
  float:left;
}

.dog1 h4 {
  color:orange;
}
.dog2 {
  float:left;
}

 .dog3 {
  margin: auto;
  display: block;
  box-sizing: border-box;
  float:left;
} 
